#login-container {
    width: 500px;
    height:600px;
    box-shadow: 0 0 5px 3px gray;
    margin: auto;
    margin-top:5vh;
    background-color: aliceblue;
}

#register-container {
    width: 500px;
    overflow: scroll;
    max-height:650px;
    box-shadow: 0 0 5px 3px gray;
    margin: auto;
    margin-top:0vh;
    margin-bottom: 2vh;
    background-color: aliceblue;
}

#login-label {
    text-align: center;
    padding-top:30px;
    font-size:24px;
    padding-bottom:0px;
}

.login-field {
    width:300px;
    margin: auto;
    font-size:15px;
    margin-top:25px;
}

.login-input-labels {
    display:block;
}

.login-inputs {
    display:block;
    padding:12px 15px;
    width: 270px;
    margin-top:8px;
}

#login-error {
    background-color: red;
    color:white;
    text-align: center;
    padding:5px;
    width: 290px;
    margin:auto;
    margin-top:15px;
}

#login-btn {
    width:300px;
    height:50px;
    background-color: rgb(125, 192, 250);
    position: relative;
    left: calc(50% - 150px);
    border: none;
    font-size:16px;
    margin-top:40px;
    transition: 0.3s;
    cursor: pointer;
}

#login-btn:hover {
    background-color: rgb(80, 169, 248);
    transition: 0.3s;
}